body {
    font-family: 'Press Start 2P', cursive; /* Une police pixelisée, disponible sur Google Fonts */
    background-color: #0f380f; /* Vert foncé GameBoy */
    color: #9bbc0f; /* Vert clair GameBoy */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

main {
    width: 90%;
    max-width: 400px;
    background-color: #0f380f; /* Même vert foncé pour un effet immersif */
    border: 4px solid #9bbc0f; /* Bordures pixelisées */
    padding: 20px;
    box-shadow: 0 0 10px #9bbc0f;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #306230; /* Un vert intermédiaire pour différencier la carte */
    border: 2px solid #9bbc0f;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 8px #9bbc0f;
}

label, input, select, button {
    font-size: 14px;
    margin-bottom: 10px;
    width: 90%;
}

input, select {
    background-color: #0f380f;
    color: #9bbc0f;
    border: 2px solid #9bbc0f;
    padding: 5px;
    font-family: inherit;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #9bbc0f;
    color: #0f380f;
    font-weight: bold;
    border: 2px solid #306230;
    transition: transform 0.2s ease;
}

input[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #0f380f;
    color: #9bbc0f;
    border: 2px solid #9bbc0f;
}
